@page
@model MAZModa.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



    <section class="page-top-section set-bg" data-setbg="img/bg/contact-bg.jpg">
        <h2>Contact</h2>
        <div class="hero-social-warp">
            <p>Follow us on Social MEdia</p>
            <div class="hero-social-links">
                <a href="#"><i class="fa fa-behance"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </section>

    <div >
        <section class="page-warp contact-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section-title">
                            <span>fashion, event, lifestyle</span>
                            <h2>Get in touch</h2>
                        </div>
                        <blockquote>
                            
                            MAZModa established in 2020, our team look forward to help people can't dress to make them stylish'
                        </blockquote>
                        <p>
                            Fashion is a term which means ‘an ongoing trend ‘. It refers to how people dress and what kind of external getup most people think is making them look stylish

                        </p>
                        
                        <div class="row">
                            <span class="col-lg-4 col-md-4">
                                
                                    <img src="~/img/zahraa.jpg" width="150px" height="300px"/>
                                    <h4>Alzahraa Omar</h4>
                                    <p>alzahraa.o.gaber@gmail.com</p>
                                
                            </span>
                            <span class="col-lg-4 col-md-4">
                                
                                    <img src="~/img/asala.jpg" width="150px" height="300px"/>
                                    <h4>Asala Gendy</h4>
                                    <p>asalagendy95@gmail.com</p>
                                
                            </span>
                            <span class="col-lg-4 col-md-4">
                                
                                    <img src="~/img/maiar.jpg" width="150px" height="300px"/>
                                    <h4>Maiar Mustafa</h4>
                                    <p>maiarmustafa10@gmail.com</p>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56314.884100092255!2d30.715701497624668!3d28.09529447238771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145b2501ca8ed45f%3A0x1682970743a18080!2sMinya%2C%20Qism%20Minya%2C%20Minya%2C%20Menia%20Governorate!5e0!3m2!1sen!2seg!4v1591138122279!5m2!1sen!2seg&fbclid=IwAR1oxiEPiBD-PTR_kVQrTCWlmkA3fOOfQdIYqJAsj3SQp5nRHLgVkh7S098" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="contact-text">
                            <p>
                                Fashion is a term which means ‘an ongoing trend ‘. It refers to how people dress and what kind of external getup most people think is making them look stylish
                            </p>
                            <ul>
                                <li>Minya , Egypt</li>
                                <li>01000000000</li>
                                <li>mazmoda@contact.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>