@page

@{
    ViewData["Title"] = "ShowStyle";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<body>

    <section class="portfolio-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-6">
                    <a asp-page="ShowStyle" asp-route-ID="1">
                        <img src="~/img/show/1.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="OnGet/2" class="portfolio-item">
                        <img src="~/img/show/2.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/show/3.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/show/4.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/show/5.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/show/6.jpg" alt="">
                        
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/show/7.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/show/8.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/show/9.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="p~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/show/10.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/GetStyle/1" class="portfolio-item">
                        <img src="~/img/portfolio/11.jpg" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="portfolio.html" class="portfolio-item">
                        <img src="~/img/portfolio/9.jpg" alt="">
                        
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>




